.alert {
  margin-top: 20px;
}

.logo {
  margin-top: 5px;
}

.searchbar {
  margin-top: 20px;
}

.thumbnail {
  background-color: #4fb4e1;
  height: 565px;
}

.title {
  color: #ffffff;
}

.date {
  color: #ffffff;
}

.name {
  color: #ffffff;
}

.character {
  color: #ffffff;
}

.poster {
  border: 1px solid #4fb4e3;
}

#inforow {
  margin-top: 15px;
}

#resultsrow {
  margin-top: 5px;
  margin-left: 5px;
  margin-right: 5px;
}

#movierow {
  margin-top: 5px;
  margin-left: 5px;
  margin-right: 5px;
}


.jumbotron-billboard .img {
    margin-bottom: 0px;
    opacity: 0.3;
    color: #fff;
    width: 100%;
    height: 100%;
    background-size: cover !important;
    overflow: hidden;
    position:absolute;
    top:0;
    left:0;
    z-index:1;
}

.billboard-color {
    background-color: rgba(66, 160, 212, 0.9);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.jumbotron {
  position:relative;
  color: #ffffff;
  padding-top:50px;
  padding-bottom:50px;
}
.jumbotron .container {
  position:relative;
  z-index:2;
}

@media screen and (max-width: 768px) {
  .jumbotron {
    padding-top:20px;
    padding-bottom:20px;
  }
}

.c100-right {
  display: inline-block;
  margin-top: 40px;
}

.c100-right .link {
  margin-left: 40px;
}

span.link {
    font-size: 2em;
    color: #ffffff;
}

.media-body {
  padding-left: 20px;
  padding-right: 5px;
}

.moviedetails span {
  margin-right: 50px;
}
