<?php
  //set config here
  $BASE_HOST = "http://localhost";
  $BASE_PATH = "/B-Muhvieh";
  $BASE_PORT = "80";
  $WEBMASTER = "webmaster@b-muhvieh.com";

  //dont change anything here
  $BASE_URL = $BASE_HOST.":".$BASEPORT.$BASE_PATH;
?>
